body {
  color: rgb(56, 80, 75);
  font-family: Spectral, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

li {
  list-style: none;
}

ul,
ol {
  padding-left: 0;
}

a {
  text-decoration: none;
}

section {
  scroll-margin-top: 5rem;
  margin: 50px 80px;
  border-top: 1px solid #87b3b0;
}

h1 {
  margin: 15px 0;
  font-size: 1.8em;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  letter-spacing: 3px;
  color: rgb(27, 67, 70);
}

/*---HEADER---*/

header {
  position: sticky;
  top: 0;
  background-color: #156c68;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links ul {
  display: flex;
}

.nav-links li a {
  letter-spacing: 1px;
  padding: 1rem;
  font-size: 1.4rem;
  color: rgb(255, 255, 255);
}

.nav-links li a:hover {
  transition: 0.8s;
  color: #ed4b4b;
}

/*---SECTION ABOUT---*/

#about {
  display: flex;
  border-top: none;
  background-color: rgb(247, 244, 241);
}

.bio {
  margin-left: 30px;
}

#photo {
  margin: 30px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 5px 6px 11px rgb(160, 141, 123);
}

/*--section EXPERIENCE--*/

#experience ol {
  display: grid;
  grid-template-columns: 100%;
  gap: 8px;
}

#experience li {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: rgb(228, 244, 241);
}

/*---section SKILLS--*/

#skills ul {
  display: flex;
  flex-wrap: wrap;
}

#skills li {
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid rgb(144, 181, 175);
  border-radius: 10px;
  background-color: rgb(228, 244, 241);
  box-shadow: 5px 6px 9px rgb(45, 130, 125);
}

/*---section PROJECTS---*/

#projects a {
  display: flex;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(56, 80, 75);
  background-color: rgb(228, 244, 241);
}

#projects a:hover {
  transition: 0.8s;
  color: #ed4b4b;
}

/*---section LEAVE A MESSAGE--*/

#form {
  margin: 0 auto;
  max-width: 40%;
  padding: 5px 20px;
  border: 1px solid rgba(140, 193, 190);
  border-radius: 5px;
  box-shadow: 0 0 8px 3px rgb(140, 193, 189);
  background-image: url(../images/background.jpg);
  background-size: cover;
}

#form h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#leave_message label {
  font-size: smaller;
  color: white;
}

#leave_message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#name,
#email,
#message {
  padding: 10px;
  width: 200px;
  height: 20px;
  font-size: 1rem;
  border: 1px solid #156c68;
  border-radius: 8px;
}

#message {
  height: 60px;
  width: 250px;
}

#submit {
  margin-top: 10px;
  padding: 5px;
  border-radius: 8px;
  width: 150px;
  color: white;
  background-color: #156c68;
}

#submit:active {
  background-color: #000000;
}

/*---section hidden messages--*/

#messages ul {
  display: grid;
  grid-template-columns: 100%;
  gap: 8px;
}

#messages li {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(228, 244, 241);
}

#messages a {
  font-weight: bold;
  color: #902b2b;
}

#messages span {
  font-weight: bolder;
  font-size: larger;
}

#messages button {
  margin: 10px;
  border-radius: 8px;
  color: white;
  float: right;
  font-size:large;
  background-color: #156c68;
}


/*---footer---*/

footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 40px;
  font-size: 1rem;
  color: white;
  background-color: #156c68;
}

footer p {
  padding-right: 40px;
}

.icon-links li {
  display: inline-block;
  padding: 0 10px 0 10px;
  font-size: 20px;
}

.fa-github,
.fa-envelope,
.fa-facebook-messenger {
  color: rgb(255, 255, 255);
}

/* Media queries for mobile screen */

@media screen and (max-width: 767px) {
  header {
    position: relative;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: end;
  }

  .nav-links {
    align-self: end;
  }

  section {
    margin: 10px;
  }

  #about {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  #form {
    max-width: 85%;
  }
}

/* Media queries  iPads, Tablets */

@media screen and (min-width: 768px) and (max-width: 1190px) {
  section {
    text-align: center;
  }

  header {
    position: relative;
  }

  .nav-menu {
    flex-direction: column;
  }

  #about {
    display: flex;
    flex-direction: column;
  }
  
  .bio p {
    margin-right: 30px;
    text-align: justify;
  }

  #skills ul {
    justify-content: center;
  }

  #form {
    max-width: 50%;
  }

  #leave_message {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #messages li {
    text-align: left;
  }
}